{% extends 'site/base.html' %}
{% block title %}
NYT Bestellers - Hardcover Fiction
{% endblock %}
{% block content %}
<div class="row mt-2">
    {% for book in books %}
    <div class="col-sm-3">
    <div class="card mb-3 mx-auto" style="width: 18rem">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{book.cover}}" class="img-fluid"style="width: 18rem"/>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        <div class="card-body">
          <h5 class="card-title fw-bold">{{book.book_title}}</h5>
          <p class="card-text text-muted fst-italic">{{book.author}}</p>
          <p class="card-text fw-bold">{{book.description}}</p>
          <a class="btn btn-success" href="{{url_for('site.book_details', isbn = book.isbn)}}">View More</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}