{% extends 'site/base.html' %}
    {% block title %}
    {{ book.book_title }}
    {% endblock %}
    {% block content %}
    <div class="row d-flex">
        <div class="card col-sm-4 mt-4 ms-5 py-3" style="width: 18rem">
            <div class="bg-image hover-overlay ripple rounded" data-mdb-ripple-color="light">
                <img src="{{book.cover}}" class="img-fluid"style="width: 18rem"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
          </div>
          <div class="card col-sm-8 pt-4 mt-4">
            <h5 class="card-text fw-bold">{{book.book_title}}</h5>
            <p class="card-text text-muted fst-italic">{{book.author}}</p>
            <p class="card-text fw-bold">{{book.description}}</p>
          </div>
        </div>
    {% endblock %}