{% extends 'site/base.html' %}
{% block title %}
Tusome
{% endblock %}
{% block content %}
<div
id="landing_back"
class="p-5 text-center bg-image"
>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3 tusome_title">TUSOME</h1>
                <h5 class="mb-4">Make your views known on all the bestsellers</h5>
                <a class="btn btn-outline-light btn-lg" href="{{url_for('auth.register')}}">
                    SIGN UP NOW
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
