{% extends 'site/base.html' %}

{% block title %}
Upload Book
{% endblock %}
{% block content %}
<div class="container d-flex">
    <div class="card col-md-10 p-5 mt-4">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3 row">
                <label for="book_title", class="col-form-label col-sm-4 fw-bolder">{{ form.book_title.label }}</label>
                <div class="col-sm-7">
                    {{ form.book_title(class="form-control border-0", id="book_title", placeholder="Enter the title of the book: ")}}
                    <small id="bookTitleHelp" class="form-text text-muted">Title of Book</small>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="isbn", class="col-form-label col-sm-4 fw-bolder">{{ form.isbn.label }}</label>
                <div class="col-sm-7">
                    {{ form.isbn(class="form-control border-0", id="isbn", placeholder="Enter the 13digit ISBN: ")}}
                    <small id="isbnHelp" class="form-text text-muted">ISBN13</small>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="author", class="col-form-label col-sm-4 fw-bolder">{{ form.author.label }}</label>
                <div class="col-sm-7">
                    {{ form.author(class="form-control border-0", id="author", placeholder="Enter the author of the book: ")}}
                    <small id="authorHelp" class="form-text text-muted">Author of Book</small>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="description", class="col-form-label col-sm-4 fw-bolder">{{ form.description.label }}</label>
                <div class="col-sm-7">
                    {{ form.description(class="form-control border-0", id="description", placeholder="Enter the description of the book: ")}}
                    <small id="descriptionHelp" class="form-text text-muted">Description</small>
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="cover", class="col-form-label col-sm-4 fw-bolder">{{ form.cover.label }}</label>
                <div class="col-sm-7">
                    {{ form.cover(class="form-control border-0", id="cover", placeholder="Enter the URL of the book cover: ")}}
                    <small id="coverHelp" class="form-text text-muted">Cover URL</small>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn material_btn text-white") }}
            </div>

        </form>
    </div>
</div>
{% endblock %}