{% extends 'site/base.html' %}
{% block title %}
Review {{ book.book_title }}
{% endblock %}
{% block content %}
<div class="row p-4 justify-content-center">
    <div class="col-sm-6 col-md-4">
        <div class=" mb-3 mx-auto" style="width: 18rem">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{book.cover}}" class="img-fluid"style="width: 18rem"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            <div >
              <h5 class=" fw-bold">{{book.book_title}}</h5>
              <p class=" text-muted fst-italic">{{book.author}}</p>
              <p class=" fw-bold">{{book.description}}</p>
            </div>
        </div>
    </div>
    <div class="card p-3 col-sm-9 col-md-4">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group mb-3 row">
            <label for="username" class="col-sm-4 col-form-label">{{ form.user.label }}</label>
            <div class="col-sm-7">
                {{ form.user(class="form-control border-0", id="username", readonly = "readonly", value = writer.username)}}
                <small id="usernameHelp" class="form-text text-muted">Your username</small>
            </div>
          </div>
            <div class="form-group mb-3 row">
              <label for="book_isbn" class="col-sm-4 col-form-label">{{ form.book_isbn.label }}</label>
              <div class="col-sm-7">
                  {{ form.book_isbn(class="form-control border-0", id="book_isbn", readonly = "readonly", value = book.isbn)}}
                  <small id="isbnHelp" class="form-text text-muted">The Book's ISBN</small>
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label for="review_title" class="col-sm-4 col-form-label">{{ form.review_title.label }}</label>
              <div class="col-sm-7">
                  {{ form.review_title(class="form-control border-0", id="review_title", placeholder="Please type in a brief title of your review")}}
                  <small id="isbnHelp" class="form-text text-muted">The Review title</small>
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label for="review" class="col-sm-4 col-form-label">{{ form.review.label }}</label>
              <div class="col-sm-7">
                  {{ form.review(class="form-control border-0", id="review", placeholder="Enter The Review")}}
                  <small id="reviewHelp" class="form-text text-muted">Your Review</small>
              </div>
            </div>
            <div class="form-group">
              {{ form.submit(class="btn material_btn text-white") }}
          </div>
        </form>
      </div>

</div>
{% endblock %}