.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 189 140);
  --md-sys-color-surface-tint: rgb(255 183 129);
  --md-sys-color-on-primary: rgb(40 16 0);
  --md-sys-color-primary-container: rgb(196 129 76);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(232 196 171);
  --md-sys-color-on-secondary: rgb(36 18 4);
  --md-sys-color-secondary-container: rgb(171 138 116);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(203 207 153);
  --md-sys-color-on-tertiary: rgb(21 24 0);
  --md-sys-color-tertiary-container: rgb(144 148 99);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(240 223 214);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 250 248);
  --md-sys-color-surface-variant: rgb(82 68 59);
  --md-sys-color-on-surface-variant: rgb(219 199 187);
  --md-sys-color-outline: rgb(177 159 148);
  --md-sys-color-outline-variant: rgb(144 128 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(110 59 10);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(32 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 129);
  --md-sys-color-on-primary-fixed-variant: rgb(87 42 0);
  --md-sys-color-secondary-fixed: rgb(255 220 196);
  --md-sys-color-on-secondary-fixed: rgb(30 13 2);
  --md-sys-color-secondary-fixed-dim: rgb(228 191 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 49 31);
  --md-sys-color-tertiary-fixed: rgb(227 231 175);
  --md-sys-color-on-tertiary-fixed: rgb(16 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(198 202 149);
  --md-sys-color-on-tertiary-fixed-variant: rgb(53 57 17);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(65 55 49);
  --md-sys-color-surface-container-lowest: rgb(20 13 8);
  --md-sys-color-surface-container-low: rgb(34 26 20);
  --md-sys-color-surface-container: rgb(38 30 24);
  --md-sys-color-surface-container-high: rgb(49 40 34);
  --md-sys-color-surface-container-highest: rgb(60 51 45);
}
