.light-medium-contrast {
  --md-sys-color-primary: rgb(104 54 5);
  --md-sys-color-surface-tint: rgb(137 80 32);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(164 102 52);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(86 62 43);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(140 111 89);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(66 70 29);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(116 120 74);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(34 26 20);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(34 26 20);
  --md-sys-color-surface-variant: rgb(243 223 210);
  --md-sys-color-on-surface-variant: rgb(77 64 55);
  --md-sys-color-outline: rgb(107 92 82);
  --md-sys-color-outline-variant: rgb(136 120 109);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 47 40);
  --md-sys-color-inverse-on-surface: rgb(254 238 228);
  --md-sys-color-inverse-primary: rgb(255 183 129);
  --md-sys-color-primary-fixed: rgb(164 102 52);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(134 78 30);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(140 111 89);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(114 86 66);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(116 120 74);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(91 95 51);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(231 215 206);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 233);
  --md-sys-color-surface-container: rgb(251 235 225);
  --md-sys-color-surface-container-high: rgb(245 229 220);
  --md-sys-color-surface-container-highest: rgb(240 223 214);
}
