.material_bg{
    background-color: #1976d2 !important;
}
.material_btn{
    background-color: #00b012 !important;
}
.material_grad{
    background-image: linear-gradient(to right, #1976d2, );
}
.tusome_title{
    font-family: Raleway;
    font-weight: 600;
}
.img-icon{
  height: 5rem;
  width: 5rem;
  margin: 3rem;
}
#landing_back {
    height: 100vh;
    background-image: url("../static/images/alfons-morales-YLSwjSy7stw-unsplash.jpg");
  }

  /* Height for devices smaller than 640px */
  @media (max-width: 640px) {
    #landing_back {
      height: 100vh;
    }
  }
  /* Height for devices between 641px and 1200px*/
  @media (max-width: 1200px) {
    #landing_back {
      height: 100vh;
    }
  }
  body {
      font-family: Raleway;
  }
  .auth_back{
      background-image: url("../static/images/alfons-morales-YLSwjSy7stw-unsplash.jpg");
      height: 100vh;
      background-size: cover;
  }
  .gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(192, 192, 192, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(192, 192, 192, 0.5))
  }
  