{% extends 'auth/base.html' %}

{% block title %}
    Login 
{% endblock %}

{% block content %}
<!--TODO: POPUP MODAL-->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-dark">
            <h5 class="modal-title text-white" id="exampleModalLabel">Login Here</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body bg-light">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                    <label for="username" >{{ form.username.label }}</label>
                    {{ form.username(class="form-control", id="username", placeholder="Enter your Username")}}
                    <small id="usernameHelp" class="form-text text-muted">Your unique username</small>
                </div>
                <div class="form-group mb-3">
                    <label for="passwordInput">{{ form.password.label }}</label>
                    {{ form.password(class="form-control", id="passwordInput", placeholder="Enter your Password")}}
                    <small id="passwordHelp" class="form-text text-muted">Your Password</small>
                </div>
                <div class="form-group modal-footer">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>
        
    </div>
</div>
</div>
{% endblock %}
<!--TODO: Button toggle modal, not on page load.-->
{% block script %}
<script>
   /* $(document).ready(function(){
        $('#exampleModal').modal('show');
    })
    */
</script>
{% endblock %}