{% extends 'auth/base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block content %}
<!--TODO: POPUP MODAL-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLabel">Register Here</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body bg-light">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-3">
                        <label for="username" >{{ form.username.label }}</label>
                        {{ form.username(class="form-control", id="username", placeholder="Enter your Username")}}
                        <small id="usernameHelp" class="form-text text-muted">Your unique username</small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="emailaddress" >{{ form.email_address.label }}</label>
                        {{ form.email_address(class="form-control", id="emailaddress", placeholder="Enter your Email address")}}
                        <small id="emailHelp" class="form-text text-muted">The email we'll use to contact you</small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="passwordInput">{{ form.password1.label }}</label>
                        {{ form.password1(class="form-control", id="passwordInput", placeholder="Enter your Password")}}
                        <small id="passwordHelp" class="form-text text-muted">Please use a secure password</small>
                    </div>
                    <div class="form-group mb-3">
                        <label for="passwordConfirm">{{ form.password2.label }}</label>
                        {{form.password2(class="form-control", id="passwordConfirm", placeholder="Confirm your password")}}
                    </div>
                    <div class="form-group modal-footer">
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
<!--TODO: Button toggle modal, not on page load.-->
{% block script %}
<script>
    $(document).ready(function(){
        $('#exampleModal').modal('show');
    })
</script>
{% endblock %}